# Ignore these files anywhere in the tree
*DS_Store*
*.o
*.a
*.so
*.mod
*.x
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

# Ignore the contents of these directories
build_*/
build-*/
FV3/

# Jedi Core repos
atlas/
eckit/
fckit/
ioda/
oops/
ufo/

# fv3-jedi and related repos
fms/
femps/
fv3-jedi-lm/
fv3-jedi/
saber/

# Opservation operators
crtm/
gsw/
geos-aero/
ropp-ufo/

Testing/
