# Ignore these files anywhere in the tree
*DS_Store*
*.o
*.a
*.so
*.mod
*.x
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

# Ignore the contents of these directories
build_*/
build-*/
FV3/

crtm/
eckit/
fckit/
fms/
fv3-jedi/
fv3-jedi-lm/
geos-aero/
ioda/
oops/
ufo/
saber/

gsw/
ropp-ufo/

Testing/
