# Ignore these files anywhere in the tree
*DS_Store*
*.o
*.a
*.so
*.mod
*.x
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

#Ignore the contents of these directories
build*
FV3/

eckit/
fckit/
oops/
crtm/
ioda/
ufo/
fms/
fv3-jedi-lm/
fv3-jedi/

gsw/
ropp-ufo/

Testing/
